<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {{!-- Bootstrap CDN --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    {{!-- Custom CSS --}}
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

    {{!-- jQuery library --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    <title>Fit to Scrape</title>
</head>

<body>
    <div class="container-fluid text-center main-text">
        <div class="row">
            <div class="col-md-12">
                {{!-- <img src="/assets/img/burger.png" class="rounded" class="img-fluid" alt="Eat-Da-Burger!"> --}}
                <h1 class="display-3">Fit to Scrape</h1>
                <h2 class-"display-4">News Articles from <a href="https://venturebeat.com/">VentureBeat.com</a><h2>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{{ body }}}
    </div>


    {{!-- Logic file for AJAX calls --}}
    <script type="text/javascript" src="/js/app.js"></script>

</body>

</html>