<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    {{!-- Bootstrap CDN --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

    {{!-- Custom CSS --}}
    <link rel="stylesheet" href="/public/css/styles.css" type="text/css">

    <title>Fit to Scrape</title>
</head>

<body>
    <div class="container-fluid text-center main-text">
        <div class="row">
            <div class="col-md-12">
                {{!-- <img src="/assets/img/burger.png" class="rounded" class="img-fluid" alt="Eat-Da-Burger!"> --}}
                <h1 class="display-3">Fit to Scrape</h1>
                <h2 class-"display-4">News Articles from <a href="https://venturebeat.com/">VentureBeat.com</a><h2>
            </div>
        </div>
    </div>

    <div class="wrapper">
        {{{ body }}}
    </div>

    {{!-- Bootstrap jQuery --}}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

    {{!-- Bootstrap JS Min --}}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    {{!-- Logic file for AJAX calls --}}
    <script src="/public/js/app.js"></script>

</body>

</html>