<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-sm-4 offset-md-1">
            <h2>Latest Articles</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article Title</th>
                        <th>Article Link</th>
                        <th>Article Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td><a href="{{this.link}}" target="_blank">Read it!</a></td>
                        <td>
                            <button class="btn btn-primary view-notes" type="button" data-id="{{this._id}}" data-toggle="collapse" data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                                View Notes
                            </button>
                            </a>
                            <div class="collapse" id="collapseExample">
                                <div class="card card-body" id="notes">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry
                                    richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes
                                    anderson cred nesciunt sapiente ea proident.
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>