<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-sm-4 offset-md-1">
            <h2>Latest Articles</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article Title</th>
                        <th>Article Link</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each articles}}
                    <tr>
                        <td>{{this.title}}</td>
                        <td><a href="{{this.link}}" target="_blank">Read it!</a></td>
                        <td>
                            <p>
                                <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button"
                                    aria-expanded="false" aria-controls="multiCollapseExample1">View Notes</a>
                            </p>
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                </div>
                            </div>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>